<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script>window.__INITIAL_STATE__ = {{{initialState}}}</script>
</head>
<body style="background-color: #eee; display: flex; justify-content: center; margin: 0;">
  <div id="container" style="max-width: 1024px; width: 100%;">{{{content}}}</div>
  <script type="text/babel" src="/shared.js"></script>
  <script src="/bundle.js"></script>
</body>
</html>
